androidx.appcompat:appcompat:1.5.1
com.google.android.material:material:1.6.1
androidx.constraintlayout:constraintlayout:2.1.4
androidx.lifecycle:lifecycle-livedata-ktx:2.4.1
androidx.lifecycle:lifecycle-viewmodel-ktx:2.4.1
androidx.navigation:navigation-fragment:2.4.1
androidx.navigation:navigation-ui:2.4.1
junit:junit:4.13.2
androidx.test.espresso:espresso-core:3.5.0-alpha07
com.android.support.test:rules:1.0.2
com.android.support.test:runner:1.0.2
androidx.test:runner:1.4.0
androidx.test:core:1.4.0
androidx.test.ext:junit-ktx:1.1.3
androidx.test:rules:1.2.0
com.google.firebase:firebase-bom:30.4.1
com.google.firebase:firebase-analytics
com.google.firebase:firebase-auth:21.0.8
com.firebaseui:firebase-ui-auth:8.0.2
com.google.firebase:firebase-database:20.0.6
com.google.firebase:firebase-core:21.1.1
com.firebase:firebase-client-android:2.4.0
com.google.firebase:firebase-storage:20.0.2
androidx.drawerlayout:drawerlayout:1.1.1
com.google.android.material:material:1.6.1
de.hdodenhof:circleimageview:3.1.0
org.apache.commons:commons-collections4:4.1
library/android.jar
androidx.test.ext:junit:1.1.4-alpha07
androidx.test.espresso:espresso-contrib:3.5.0-alpha07
